name: Otomasi API Automation

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  api-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Make gradlew executable
        run: chmod +x OtomasiAPI/gradlew

      - name: Run API tests
        working-directory: ./OtomasiAPI
        run: ./gradlew test --info

      - name: Upload Test Report
        uses: actions/upload-artifact@v3
        with:
          name: api-test-report
          path: ./OtomasiAPI/build/reports/tests/test

  deploy-pages:
    needs: api-tests
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy Test Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./OtomasiAPI/build/reports/tests/test
          publish_branch: gh-pages
